div.accountInfo {
    width: 42%;
}

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}
fieldset label {
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin-top: 12px;
}
input.textEntry {
    width: 320px;
    height: 27px;
    border: 1px solid #ccc;
    /* padding-bottom: 12px; */
}
.pull-right {
    float: right!important;
    /* margin-right: 60%; */
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
} 