<app-header></app-header>
<br>
<div class="container home">
    <div class="accountInfo" style="padding-bottom: 100px">
        <form [formGroup]="changepasswordform">
            <fieldset class="login">
                <div class="form-group">
                    <label>Password:</label>
                    <input name="password" formControlName="password" type="password" id="password" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.password.errors}"> *
                        <div *ngIf="submitted && f.password.errors">
                            <div class="error" *ngIf="f.password.errors.required">Password is required!</div>
                            <div class="error" *ngIf="f.password.errors.minlength">Password must be at least 6 characters!</div>
                        </div>
                    </div>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input name="confirmPassword" formControlName="confirmPassword" type="password" id="confirmPassword" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors}"> *
                    <div *ngIf="submitted && f.confirmPassword.errors">
                        <div class="error" *ngIf="f.confirmPassword.errors.required">Confirm Password is required!</div>
                        <div class="error" *ngIf="f.confirmPassword.errors.mismatch">Password does not match!</div>
                     </div>
                </div>
            </fieldset>
            <p class="submitButton">
                <input type="submit" value="Update Password" id="submit" class="pull-right" (click)="changepassword();">
            </p>
        </form>
    </div>
</div>