<app-header></app-header>
<br>
<div class="container">
<h1>User  Management </h1> 
<p>Please find all Utility Aid users below. You can edit these or delete them by using the links in each row.</p>
<div class="container home">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>     
        <tr *ngFor="let user of userlist; index as i">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><button class="btndlt" (click)="editUser(user._id)">Edit</button></td>
            <td><button class="btndlt" (click)="deleteUser(user._id)">Delete</button></td>           
        </tr>
        </tbody>
    </table>
    <br><br>
    <br>
</div>
</div>

