<app-header></app-header>
<br>
<div class="container">
<h1> Client  Management </h1> 
<p>Please find all Utility Aid users below. You can edit these or delete them by using the links in each row.</p>
<div class="container home">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>     
        <tr *ngFor="let client of clientlist; index as i">
            <td>{{client.username}}</td>
            <td>{{client.email}}</td>
            <td><button class="btndlt" (click)="editClient(client._id)">Edit</button></td>
            <td><button class="btndlt" (click)="deleteClient(client._id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <br>
</div>
</div>
