<div class="container">
    <img src="assets/images/header.png" style="width:100%" />
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/login">Home</a>
              </li>
            </ul>
          </div>
      </div>
  </nav>
<br>
  <div class="container">
      <img src="assets/images/utilityaidhome.jpg" style="width:100%" />
  </div>
<br>
<div class="container">
    <h1>
        Welcome to UA - Working together with Britain's Housing Associations.
    </h1>
    <h2>Log In</h2>
    Please enter your username and password.
    <br><br>
    <form  [formGroup]="form">
        <div class="accountInfo">
            <fieldset class="login" style="width: 40%;">
            <div class="outer">
                <legend  style="margin-top: -50px; background-color: #FFFFFF; width: 150px;" >Account Information</legend>
                <div class="p">
                    <label>Username:</label>
                    <input name="username" formControlName="username" type="text" id="username" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.username.errors}" id="inputlname" placeholder="">
                   <div *ngIf="submitted && f.username.errors">
                      <div class="error" *ngIf="f.username.errors.required">Username is required!</div>
                  </div>
                </div>
                <div class="p">
                    <label>Password:</label>
                    <input name="password" formControlName="password" type="password" id="password" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                <div *ngIf="submitted && f.password.errors">
                   <div class="error" *ngIf="f.password.errors.required">Password is required!</div>
                </div>
            </div>
            </div>
            </fieldset>      
            <p class="submitButton">
                <input type="submit" value="Log In" class="pull-right" (click)="logincheck()">
            </p>
        </div>
    </form>
    <p style="clear: both;padding-top: 40px">
        Please log in to the COT/Void portal service. If you are experiencing problems please contact Utility Aid at:
    </p>
    <ul>
        <li>Email: <b style="color: #3497C1;text-decoration: underline">zkinnon@utility-aid.co.uk</b></li>
        <li>Phone: 0808 178 2022</li>
        <!-- <li>By post: <b>FREEPOST RTGB -KJRT-JLGG</b>, Utility Aid Limited, Unit 8, Clover House, Boston Road, Sleaford,
            NG34
            7HD
        </li> -->
    </ul>
</div>