<app-header></app-header>
<div class="container home">
    <div class="accountInfo" style="padding-bottom: 100px">
        <form [formGroup]="editmanagerform">
            <fieldset class="login">
                <legend>Edit Account Information</legend>
                <div>
                    <label>Username:</label>
                    <input formControlName="username"  type="text" id="username" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                    >*
                    <div class="error" *ngIf="submitted && f.username.errors">
                        <div *ngIf="f.username.errors.required">Username is required!</div>
                    </div>
                </div>
                <div>
                    <label>E-mail:</label>
                    <input name="email" formControlName="email" type="text" id="email" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"> *
                    <div class="error" *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required">Email ID is required!</div>
                        <div *ngIf="f.email.errors.pattern">Email must be a valid email address!</div>
                     </div>
                </div>
                <div>
                    <label>Password:</label>
                    <input name="password"  formControlName="password" type="password" id="password" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"> *
                    <div class="error" *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required">Password is required!</div>
                        <div *ngIf="f.password.errors.minlength">You have to enter at least 6 digit!</div>
                     </div>
                </div>
                <div>
                    <label>Confirm Password:</label>
                    <input name="confirmPassword" formControlName="Confirmpassword" type="password" id="confirmPassword" class="textEntry" [ngClass]="{ 'is-invalid': submitted && f.Confirmpassword.errors }"> *
                    <div class="error" *ngIf="submitted && f.Confirmpassword.errors">
                        <div *ngIf="f.Confirmpassword.errors.required">Confirm Password is required!</div>
                        <div *ngIf="f.Confirmpassword.errors.mismatch">Password does not match!</div>
                     </div>
                </div>
            </fieldset>
            <p class="submitButton">
                <input type="submit" value="Save Details"
                id="submit" class="pull-right" (click)="editManagerDetails();">
            </p>
        </form>
    </div>
</div>

<!-- <label ><b>Name:</b>
    <input [(ngModel)]="userdata.username" placeholder="name"/>
</label> -->
