<app-header></app-header>
<br>
<div class="container">
    <img src="assets/images/utilityaidhome.jpg" style="width:100%" />
</div>
<br>

<div class="container">
    <h1>
        Welcome to Utility Aid
    </h1>

    <p>You can view void properties and add any new ones by navigating to the Property Management section using the menu
        above.</p>
    <p>Properties you have added cannot be edited. Please call one of our advisors on 0808 178 8170 if you have any
        questions.</p>

</div>
<div class="container home" style="padding-top:20px">
    <div class="row">

        <div class="col-md-6">

            <p>
                <img src="assets/images/UtilityAidComingSoon.png" alt="Social domestic switching platform coming soon"
                >
            </p>

            <p><a href="http://www.utility-aid.co.uk" target="_blank">
                    <img src="assets/images/Solar_PV.jpg" alt="Solar PV"><br>
                    Solar PV</a>
            </p>
        </div>

        <div class="col-md-6">

            <p><a href="http://www.utility-aid.co.uk" target="_blank">
                    <img src="assets/images/EPC-1.jpg" alt="Energy Performance Certificates"><br>
                    Energy Performance Certificates</a>
            </p>
        </div>
    </div>
</div>

